In [1]:
def plus(a, b):
    result = a + b
    return result

In [2]:
r = plus(4, 6)
print(r)

10

In [3]:
l1 = [1, 5, 8, 9, 7, 1, 3, 5]

In [4]:
total = sum(l1)
print('total:', total)

total: 39

In [5]:
def mysum(l1):
    '''
    arg
    out
    desc
    '''
    total = 0
    for i in l1:
        total += i
    return total

In [6]:
sum_ = mysum(l1)
print('sum_:', sum_)

sum_: 39

In [7]:
a = -5
print(abs(a))

5

In [8]:
def absolute(n):
    if n >= 0:
        return n
    else:
        return -n

In [9]:
print(absolute(a))

5

In [10]:
def operators(a, b):
    pl = a + b
    mi = a - b
    return pl, mi

In [11]:
x, y = operators(b=3, a=5)
print('x:', x)
print('y:', y)

x: 8
y: 2